body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.border{
    border: 2px solid black;
}
.parent{
    width: 75%;
    height: 500px;
    background-color: blue;
    display: flex;
    justify-content: center;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    align-items: center;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
}
.child{
    width: 20%;
    height: 100px;
    background-color: aqua;
}